proxmox_endpoint  = "https://pve.athayaafatih.my.id/"
proxmox_api_token = "opentofu@pve!tofu-token=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
proxmox_node      = "pve"
template_file_id  = "local:vztmpl/debian-13-standard_13.1-2_amd64.tar.zst"
ssh_public_key    = "ssh-ed25519 AAAAC3... (isi dari id_ansible.pub)"

# 1 Container (Murni DHCP):
containers = {
  "ct-debian-01" = {
    ct_id        = 106
    password     = "12345"
    cores        = 1
    memory       = 512
    swap         = 512
    disk_size    = 8
    unprivileged = true
  }
}
